---
layout: default
title: FAQ about GitHost.io
---
<div id="content">
  <div class="container txt-lefty">
    <div class="row">
      <div class="col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-2">
        <h3>What is GitHost?</h3>
            <p>
               GitHost is a single-tenant solution that provides GitLab CE or EE as a managed service. GitLab Inc. is responsible for installing, updating, hosting, and backing up customers own private and secure GitLab instance.
            </p>

        <h3>Why should I use GitHost?</h3>
            <p>
               <li>GitHost removes the system administration overhead of having to manage hardware, infrastructure, upgrades and back-ups, without compromising security</li>
               <li>It allows customers to concentrate on their core business of delivering applications to end users</li>
               <li>It facilitates the use of GitLab for organizations who do have experience in GitLab, Linux or MySQL/PostgreSQL</li>
            </p>
            
        <h3>What is different about GitHost than other hosted Git solutions?</h3>
            <p>
               <li>Unlike GitHub.com, Bitbucket.org and GitLab.com, GitHost is a single-tenant solution which means your IP does not share the underlying infrastructure with other customers</li>
               <li>GitHost can integrate with your Active Directory or LDAP server for better authentication, as well as SAML, Crowd and all the OmniAuth Providers supported by GitLab</li>
               <li>GitHost has better performance than other hosted Git solutions because each instance only servers one customer, rather than many customers to one instance</li>
               <li>You can choose between automatic and manual updates. If you want, your server will always be automatically updated to the latest GitLab version, or you can stay on your current version and choose when you want the upgrade to happen</li>
            </p>

        <h3>What regions does GitHost operate in?</h3>
            <p>
               Amsterdam, London, San Francisco, Singapore, Toronto, New York and Frankfurt
            </p>
            
        <h3>Can I customize my disk space?</h3>
            <p>
               No. Our plans are based on the underlying infrastructure templates.
            </p>
            
        <h3>What SLA does the service provide?</h3>
            <p>
               99.9% uptime.
            </p>
            
        <h3>Will I be notified of downtime for maintenance?</h3>
            <p>
               Yes.
            </p>

        <h3>Do I need an SSL certificate?</h3>
            <p>
               Yes, if you want to use your own domain. You can purchase one from vendors such as GoDaddy.
               No, if you want a *.gihost.io subdomain.
            </p>

        <h3>Is LDAP supported?</h3>
            <p>
               Yes.
            </p>

        <h3>Is SSO supported?</h3>
            <p>
               Yes we use OmniAuth so users can sign in using Twitter, Facebook etc.
            </p>

        <h3>Is there support for SAML?</h3>
            <p>
               Yes.
            </p>

        <h3>Can I make custom changes to the GitLab configuration?</h3>
            <p>
               Custom changes such as increasing the number of Unicorn workers or setting up an SMTP server for email must be done by a GitLab Service Engineer. Customers can request this by contacting GitHost Support.
               Self service for custom changes is in development.
            </p>

        <h3>What connections does GitHost support?</h3>
            <p>
               SSH and HTTP.
            </p>

        <h3>How is back-up and recovery managed?</h3>
            <p>
               Full backups are taken every day and stored at an offsite location. Restoring from backups can be done by customers without help from GitHost Support.
            </p>
            
            <h3>Does GitHost come with a private hosted GitLab CI runner?</h3>
            <p>
               No, but you can hook up runners from anywhere. We plan to support this in the future.
            </p>

        <h3>Can I migrate from my on-premises GitLab server to GitHost?</h3>
            <p>
               Yes, you can use backup and restore but this requires the intervention of a Service Engineer. However, we are working to make this easier.
            </p>

        <h3>Can I apply my GitLab Enterprise Edition subscription for use with GitHost if I decide to move from on-premises hosting?</h3>
            <p>
               Yes.
            </p>

         <h3>What version of GitLab Enterprise Edition does GitHost support?</h3>
            <p>
               GitHost will always install the latest version of GitLab when a new server is created.
            </p>
            
        <h3>If I subscribe to GitLab Enterprise and use GitHost how to I get support?</h3>
            <p>
               GitLab Enterprise subscribers will have the ability to email our Service Engineers directly for assistance with both GitHost and GitLab.
            </p>
            
        <h3>How is the service billed?</h3>
            <p>
               Subscriptions plans are prorated to the nearest minute and charged monthly.
            </p>
        
        <h3>Can I purchase an annual subscription to GitLab Enterprise Edition and GitHost?</h3>
            <p>
                Yes. <a href="https://about.gitlab.com/sales/">Contact</a> our Sales Team 
            </p>
      </div>
    </div>
  </div>
</div>
